/* ===============================
   RESET
================================ */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,
body {

    width:100%;
    height:100%;

    overflow:hidden;

    background:#ffffff;

    font-family:Arial, Helvetica, sans-serif;

}


body {

    display:flex;

}



/* ===============================
   APP
================================ */


#app {

    display:flex;

    flex-direction:column;

    width:100vw;

    height:100vh;

}



/* ===============================
   GÓRNY PASEK
================================ */


#topBar {

    height:90px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:10px 28px;

    border-bottom:2px solid #222;

    background:white;

    flex-shrink:0;

}


.titleLine {

    display:flex;

    align-items:center;

    gap:25px;

}


.title {

    font-size:38px;

    font-weight:bold;

}


.machine {

    margin-top:6px;

    font-size:24px;

}


#machineName {

    font-weight:bold;

}


#rightInfo {

    text-align:right;

}


#sheetCounter {

    font-size:26px;

    font-weight:bold;

}


#lastUpdate {

    margin-top:8px;

    font-size:18px;

    color:#666;

}



/* ===============================
   PASEK POSTĘPU
================================ */


#progressBar {

    width:250px;

    height:10px;

    background:#ddd;

    overflow:hidden;

}


#progress {

    width:0%;

    height:100%;

    background:#2d7ff9;

}




/* ===============================
   TABELA
================================ */


main {

    flex:1;

    overflow:hidden;

}



#productionTable {

    width:100%;

    border-collapse:collapse;

    table-layout:fixed;

}




th,
td {

    border:1px solid #333;

    text-align:center;

    vertical-align:middle;

    height:38px;

    padding:4px;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

    font-size:clamp(11px,1.3vw,22px);

}



thead th {

    height:45px;

    font-weight:bold;

}



/* ===============================
   SZEROKOŚCI KOLUMN
================================ */


/* małe kolumny */

.smallColumn {

    width:110px;

}


.orderColumn {

    width:100px;

}


.qtyColumn {

    width:75px;

}


.dateColumn {

    width:160px;

}



/* reszta */

.flexColumn {

    width:auto;

}



/* ===============================
   WIERSZE
================================ */


tbody tr:nth-child(odd) {

    background:#dcdcdc;

}


tbody tr:nth-child(even) {

    background:white;

}



/* Production */


.productionRow td {

    text-decoration: underline;

    font-weight: bold;

}



/* stare daty */


.oldDate td {

    color: red !important;

    font-weight: bold;

}



/* koniec listy */


tbody tr:last-child {

    border-bottom:4px solid #000;

}



/* ===============================
   ANIMACJE
================================ */


.fadeOut {

    opacity:0;

}


.fadeIn {

    opacity:1;

}
